.footer {
    background-color: #1e1d38;
    color: grey;
    padding: 2em 0;
  }
  
  .footer-panel {
    display: flex;
    flex-flow: column;
  }
  
  .footer-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-about {
    width: 50%;
  }
  
  .footer-section__title {
    color: darkgray;
  }
  
  .footer-links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 45%;
  }
  
  .footer-link-section {
    width: 30%;
  }
  
  .footer-link-lists {
    padding: 0;
    margin-top: 0.5em;
  }
  
  .footer-link-list-item {
    list-style: none;
  }
  
  .footer-link {
    color: gray;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: lightgray;
    text-decoration: underline;
  }
  